.app-container {
	max-width: 800px;
	padding: 32px 24px 64px;
	box-sizing: border-box;
	margin: 0 auto;
}

.app-heading {
	font-size: 24px;
	margin-bottom: 40px;
	padding-left: 16px;
	border-left: solid 4px currentColor;
	box-sizing: border-box;
}
